html {
  width: 100vw;
  height: 100vh;
}

body {
  width: 100%;
  height: 100%;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
}

#notifications {
  position: fixed;
  top: 0;
  left: 25vw;
}

#conversation-data {
  padding: 0;
  list-style-type: none;
}

.userListItem {
  font-size: 90%;
  width: 100%;
  text-align: center;
  margin: 5px 0;
}

.conversations-heading {
  text-align: center;
  border-bottom: thin solid #d3d3d3;
  margin-bottom: 0;
}

#conversationSearchFormContainer, #loginContainer {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.5);
}

#loginForm-el {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

#loginForm-el h2 {
  margin-top: 50px;
  text-align: center;
}

#userInfo {
  height: 50px;
  width: 100%;
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

#userInfo p {
  font-size: 80%;
  color: #778899;
  margin: 0 auto;
}

#userInfo p, #userInfo h4 {
  line-height: 50px;
}

#userInfo-username {
  color: #4b0082;
  text-align: center;
  margin: 0 auto;
}

#loginForm-el input {
  height: 100px;
  width: 80%;
  margin: 0 auto;
  outline: none;
  border: none;
  font-size: 50px;
  border-bottom: thin solid #4b0082;
}

.hidden {
  display: none !important;
}

.modalForm {
  width: 50%;
  height: 40%;
  margin: 0 auto;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  border-radius: 5px;
  box-shadow: 8px 8px 8px #000000;
}

#searchResults {
  height: calc(90% - 50px);
  width: 90%;
  margin: 0 auto;
  overflow: scroll;
}

#searchField {
  width: 70%;
  height: 50px;
  line-height: 50px;
  font-size: 120%;
  margin: 10px auto;
  border: none;
  border-bottom: thin solid #ECEBF9;
  outline: none;
}

.btns {
  height: 10%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.searchBtn {
  border: none;
  outline: none;
}

.searchBtn:hover {
  color: #ECEBF9;
}

.usersResult {
  width: 70%;
  margin: 10px auto;
  cursor: pointer;
}

#chat-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
}

.conversations {
  width: 200px;
  height: 100%;
  background-color: #ECEBF9;
  display: flex;
  flex-direction: column;
  border-right: thin solid #d3d3d3;
}

.add-conversation {
  width: 50px;
  height: 35px;
  color: #d3d3d3;
  font-size: 250% !important;
  text-align: center;
  margin: 10px auto;
}

.chat-item {
  min-height: 100px;
  width: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 10px 0;
  transition: 0.5s ease-in-out;
}

.chat-item.selected {
  background-color: #ffffff;
  transition: 0.5s ease-in-out;
}

.chat-item i {
  height: 50px;
  width: 50px;
  font-size: 170%;
  margin: 10px;
  border-radius: 50px;
  background-color: #d3d3d3;
  margin: 10px auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.messaging-container {
  width: calc(100% - 700px);
  height: 100%;
}

.messages {
  width: 100%;
  height: calc(100% - 155px);
  margin: 50px 0 30px 0;;
  overflow: scroll;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

/* Changed justify content to felx-start for better pagination */
.message {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  width: 85%;
  margin: 0 auto;
}

.message i {
  width: 30px;
  height: 30px;
  background-color: #d3d3d3;
  border-radius: 40px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.message p {
  background-color: #ECEBF9;
  border-radius: 0 15px 15px 15px;
  padding: 5px;
  margin-left: 5px;
  margin-right: 5px;
}

#me {
  flex-direction: row-reverse !important;
  text-align: right;
}

#me p {
  background-color: #4b0082 !important;
  color: #ffffff;
  border-radius: 15px 0 15px 15px !important;
}

.chat-item {
  cursor: pointer;
}

.input-container {
  height: 50px ;
  width: 100%;
  padding-top: 15px;
  border-top: thin solid #ECEBF9;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

#message-input {
  width: 70%;
  margin: 0 10px;
  padding: 5px;
  border: thin solid #d3d3d3;
  border-radius: 20px;
  height: 30px;
  font-family: 'Montserrat', sans-serif;
  font-size: 120%;
  outline: none;
}

.send-btn {
  color: #ECEBF9;
  width: 30px;
  height: 30px;
  font-size: 140% !important;
  text-align: center;
}

.send-btn:hover, .add-conversation:hover {
  font-size: 200% !important;
  transition: 0.2s;
}

i:active {
  color: #000000;
}

#contactInfo-small {
  height: 0;
  width: 100%;
  background-color: #ffffff;
  transition: 0.5s ease-in-out;
  overflow: hidden;
}

#contactInfo-small i {
  background-color: #ffffff;
  font-size: 120%;
}

#contactInfo-side{
  width: 500px;
  border-left: thin solid #ECEBF9;
  transition: 0.5s ease-in-out;
}

.contactMenu {
  width: 100%;
  height: 50px;
  border-bottom: thin solid #ECEBF9;
}

#contactName {
  height: 300px;
  display: flex;
  margin: 50px 0 50px 0;
  flex-direction: column;
  text-align: center;
}

#contactName i {
  width: 200px;
  height: 200px;
  font-size: 600%;
  text-align: center;
  margin: 0 auto;
}

@media(max-width: 1100px) {
  .selected #contactInfo-small {
    height: 200px;
    transition: 0.5s ease-in-out;
  }

  #contactInfo-side {
    width: 0;
    transition: ease-in-out;
  }

  .contactMenu {
    display: none;
  }

  #contactName {
    display: none;
  }

  #contactInfo-side-text {
    display: none;
  }

  .messaging-container {
    width: calc(100% - 200px);
  }
}
