html {
  width: 100vw;
  height: 100vh;
}

body {
  width: 100%;
  height: 100%;
  margin: 0;
}

#chat-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
}

.conversations {
  width: 200px;
  height: 100%;
  display: flex;
  flex-direction: column;
  background-color: #ECEBF9;
}

.messaging-container {
  width: calc(100% - 200px);
  height: 100%;
  display: flex;
  flex-direction: column;
}

.message {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 85%;
  margin: 0 auto;
}

.message i {
  width: 30px;
  height: 30px;
  background-color: #d3d3d3;
  border-radius: 40px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.message p {
  background-color: #ECEBF9;
  border-radius: 0 15px 15px 15px;
  padding: 5px;
  margin-left: 5px;
  margin-right: 5px;
  width: calc(100% - 40px);
}

#me {
  flex-direction: row-reverse !important;
}

#me p {
  background-color: #4b0082 !important;
  color: #ffffff;
  border-radius: 15px 0 15px 15px !important;
}

.chat-item {
  height: 100px;
  width: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
}

.chat-item.selected {
  background-color: #ffffff;
}

.chat-item i {
  height: 50px;
  width: 50px;
  font-size: 170%;
  margin: 10px;
  border-radius: 50px;
  background-color: #d3d3d3;
  margin: 10px auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.messages {
  width: 100%;
  height: calc(100% -  125px);
}

.input-container {
  height: 50px ;
  width: 100%;
  padding-top: 15px;
  border-top: thin solid #ECEBF9;
  display: flex;
  flex-direction; row;
  justify-content: center;
}

#message-input {
  width: 70%;
  margin: 0 10px;
  padding: 5px;
  border: thin solid #d3d3d3;
  border-radius: 20px;
  height: 30px;
  font-family: 'Montserrat', sans-serif;
  font-size: 120%;
  outline: none;
}

.send-btn {
  color: #ECEBF9;
  width: 30px;
  height: 30px;
  font-size: 140% !important;
  text-align: center;
}

i:hover {
  font-size: 200% !important;
  transition: 0.2s;
}

i:active {
  color: #000000;
}
